USERNAME=ubuntu
BASE_DIR=/home/ubuntu/code/
TARGET_DIRECTORY=/home/ubuntu/code/
DB_NAME=db_name
BACKUP_DB_NAME=bkup_db_name
DB_SUPERADMIN_USERNAME=username
DB_SUPERADMIN_PASSWORD=password
PEM_FILE=pemfile.pem
SSH_PASSPHRASE=None
MATSER_IP=ip master
REPLICA_IP=ip replica
